.MyNav{

	z-index:10;
	position:fixed;
	width:100%;
	background-color:hsla(0,0%,100%,.4);
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.MyNav  .layui-nav-item a{
	color:#333;
}

.MyNav  .layui-nav-item:HOVER {
	color:#3c8dbc;
}
.MyNav  .layui-nav-item a:HOVER {
	color:#3c8dbc;
}