<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MyBlog.Dao.archivescommitMapper">
  <resultMap id="BaseResultMap" type="com.MyBlog.entity.Archivescommit">
    <id column="CID"  property="cid" />
    <result column="PID" property="pid" />
      <result property="context" column="context"/>
    <result column="REVISION" property="revision" />
    <result column="CREATED_BY"  property="createdBy" />
    <result column="CREATED_TIME"  property="createdTime" />
    <result column="UPDATED_BY"  property="updatedBy" />
    <result column="UPDATED_TIME"  property="updatedTime" />
    <result column="Status" property="status" />
    <result column="NAME"  property="name" />
    <result column="TYPE" property="type" />
    <result column="AID"  property="aid" />
        <association property="users" javaType="com.MyBlog.entity.Users">       
            <id property="U_Id" column="U_Id"/>
<result property="RId" column="RId" />
<result property="userName" column="userName" />
<result property="UserImg" column="UserImg" />
<result property="passWord" column="passWord" />
<result property="CreatorId" column="CreatorId" />
<result property="CreateDate" column="CreateDate" />
<result property="DataLevel" column="DataLevel" />
<result property="Email" column="Email" />
<result property="salt" column="salt" />
<result property="Sex" column="Sex" />
<result property="locked" column="locked" />
        </association>
        <collection property="childArchivescommit"  select="getchild" ofType="com.MyBlog.entity.Archivescommit" column="CID">
            <id column="CID"  property="cid" />
    <result column="PID" property="pid" />
      <result property="context" column="context"/>
    <result column="REVISION" property="revision" />
    <result column="CREATED_BY"  property="createdBy" />
    <result column="CREATED_TIME"  property="createdTime" />
    <result column="UPDATED_BY"  property="updatedBy" />
    <result column="UPDATED_TIME"  property="updatedTime" />
    <result column="Status" property="status" />
    <result column="NAME"  property="name" />
    <result column="TYPE" property="type" />
    <result column="AID"  property="aid" />
        </collection>
  </resultMap>
 
  <select id="FindAll" parameterType="int" resultMap="BaseResultMap">
  select * from archivescommit ac left join users u on u.userName=ac.CREATED_BY 
  </select>
  <select id="FindByAId" parameterType="int" resultMap="BaseResultMap">
  select * from archivescommit ac left join users u on u.userName=ac.CREATED_BY where AID=#{aid} and pid is null
  </select>
    <select id="FindByCId" parameterType="int" resultMap="BaseResultMap">
  select * from archivescommit ac left join users u on u.userName=ac.CREATED_BY where CID=#{cid} 
  </select>
   <select id="FindByAIdChild" parameterType="int" resultMap="BaseResultMap">
  select * from archivescommit ac left join users u on u.userName=ac.CREATED_BY where ac.AID=#{aid} and ac.pid is  null 
  order by ac.CREATED_TIME desc
  </select>
  <select id="commitcount" parameterType="int" resultType="int">
  select count(ac.CID) from archivescommit ac left join Users u on u.userName=ac.CREATED_BY where AID=#{aid} and pid is null
  </select>
  <select id="getchild" parameterType="int" resultType="com.MyBlog.entity.Archivescommit">
  select * from archivescommit ac1 where ac1.pid=#{cid} 
  </select>
  <insert id="AddArchivescommit" parameterType="Archivescommit">
      insert into archivescommit(Context,PID,CREATED_BY,CREATED_TIME,Status,AID,TYPE,Name) values(#{context},#{pid},#{createdBy},#{createdTime},#{status},#{aid},#{type},#{name})
  </insert>
  <delete id="delete" parameterType="int">
      DELETE FROM  archivescommit where CID=#{cid}
  </delete>
  <update id="Update" parameterType="Archivescommit">
      Update archivescommit Set Context=#{context},PID=#{pid},UPDATED_BY={updatedBy},UPDATED_TIME=#{updatedTime},Status=#{status},NAME=#{name},TYPE=#{type},AID=#{aid}
  </update>
  
</mapper>